// === imports ===
@import 'normalize.scss';
// === / imports ===

// === mixins ===
@mixin font-roboto {
    font-family: 'Roboto', sans-serif;
}
// === / mixins ===

// === variables ===
$color-grey: #eeeeee;
$color-red: #fb565a;
$color-green: #00ca74;
$color-yellow: #efc84a;
$text-color: #283136;
$text-color-white: #ffffff;
// === / variables ===

// === common ===
* {
    box-sizing: border-box;
    color: #000000;
}

body {
    @include font-roboto;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

img {
    display: block;
}

.button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500; 
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 5px;
    color: $text-color-white;
    background-color: $color-red;
}
// === / common ===

// === header ===
.header {
    background-color: $color-grey;

    &-inner {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        align-items: center;
    }

    &__nav-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__nav-list-item + &__nav-list-item {
        margin-left: 45px;
    }

    &__nav-list-link {
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    // переделать под after/before
    &__basket {
        display: flex;

        &-icon + &-text {
            margin-left: 30px;
        }
    }
    // переделать под after/before
}
// === / header ===

// === slider ===
.slider {
    background-color: $color-grey;

    &-inner {
        display: flex;
    }

    &__content {
        align-self: center;
        padding-right: 55px;

        &-title {
            font-size: 55px;
            line-height: 55px;
            font-weight: 500;
            margin-bottom: 30px;
        }
        &-subtitle {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color:$text-color;
            margin-bottom: 45px;
        }
        .button--red {
            background-color: $color-red;
        }
    }
    &__img {
        align-self: flex-end;
    }
}
// ===  / slider ===

// === advantages ===
.advantages {
    padding-top: 80px;
    padding-bottom: 80px;

    .advantages-inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 300px;
        text-align: left;

        &-tiitle {
            margin-top: 30px;
            font-size: 24px;
            line-height: 30px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &-subtitle {
            margin-top: 30px;
            margin-bottom: 40px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: $text-color;
        }

        .button--red{
            background-color: $color-red;
        }

        .button--green {
            background-color: $color-green;
        }

        .button--yellow {
            background-color: $color-yellow;
        }
    }
}
// === / advantages ===

// === studio ===
.studio {
    &-inner {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid $color-grey;
        padding-top: 30px;
        padding-bottom: 75px;
        border-bottom: 2px solid $color-grey;
    }

    &__promo {
        width: 660px;
        padding-top: 30px;

        &-title {
            font-size: 45px;
            line-height: 45px;
            font-weight: 500;
        }
        &-text {
            margin-top: 35px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: $text-color;
        }
        &-subtitle {
            margin-top: 40px;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
        }
        &-list {
            list-style-type: none;
            margin: 0;
            padding: 0;

            &-item {
                margin-top: 30px;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
            }
        }
    }

    &__stat {
        width: 360px;
        align-self: flex-end;

        &-title {
            margin-top: 30px;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            margin-bottom: 40px;
        }
        
        &-list {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;

            &-item {
                display: flex;
                flex-direction: column;

                &-text {
                    margin-top: 20px;
                }
            }
        }
    }
}
.mdash--red {
    color: $color-red;
    text-transform: uppercase;
    font-weight: 700;
}
.number {
    font-size: 45px;
    line-height: 10.06px;
    font-weight: 700;
}
.percent {
    vertical-align: super;
    font-size: 30px;
    font-weight: 700;
}
// === / studio ===

// === partners ===
.partners {
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 45px;
        padding-bottom: 45px;
        border-bottom: 2px solid $color-grey;
    }
}
// === / partners ===

// === contacnts ===
.contacts {
    &-inner {
        margin-top: 80px;
        min-height: 416px;
        background: url('../img/map.jpg') no-repeat 50% 50%;
        background-size: cover;

        position: relative;
    }

    &__board {
        width: 320px;
        padding: 50px;
        position: absolute;
        left: 140px;
        top: 60px;
        background-color: white;

        &-title {
            text-transform: uppercase;
            font-size: 18px;
            line-height: 30px;
            font-weight: 700;
        }
        &-adress {
            color: $text-color;
            margin-top: 30px;
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
        }
        &-telephone {
            color: $text-color;
            margin-top: 20px;
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
        }
        &-button {
            margin-top: 40px;
        }
    }

    &__map-marker {
        position: absolute;
        right: 250px;
        top: 75px;
    }
}

// === / contacnts ===

// === footer ===
.footer {
    &-inner {
        display: flex;
        margin-top: 70px;
    }
    &__social {
        display: flex;
        width: 260px;
        justify-content: space-between;
        margin-right: 140px;
        // лажа
        &-vk {
            background-color: #e1e1e1;
            padding: 30px;
            border-radius: 50%;
        }
        &-fb {
            background-color: #e1e1e1;
            padding: 30px;
            border-radius: 50%;
        }
        &-inst {
            background-color: #e1e1e1;
            padding: 30px;
            border-radius: 50%;
        }
        //  / лажа
    }
    &__promo {
        &-title {
            font-size: 36px;
            line-height: 36px;
            font-weight: 700;
        }
        &-text {
            color: $text-color;
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            margin-top: 10px;
        }
    }
}
// ===  / footer ===